  <div class="row">
    <div class="large-8 columns">
      <h4>Lessons</h4>

      <table class="list">
        <thead>
          <tr>
            <td>Lektion</td>
            <td>Hold</td>
            <td>Dato</td>
            <td>Tid start</td>
            <td>Tid slut</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a href="#">Lektion 3852</a>
            </td>
            <td>
              <a href="#">Stram op</a>
            </td>
            <td>
              13/11 2014
            </td>
            <td>
              07:00
            </td>
            <td>
              08:00
            </td>
          </tr>
          <tr>
            <td>
              <a href="#">Lektion 4016</a>
            </td>
            <td>
              <a href="#">Zumba</a>
            </td>
            <td>
              13/11 2014
            </td>
            <td>
              16:30
            </td>
            <td>
              17:30
            </td>
          </tr>
          <tr>
            <td>
              <a href="#">Lektion 4063</a>
            </td>
            <td>
              <a href="#">Quick styrke</a>
            </td>
            <td>
              13/11 2014
            </td>
            <td>
              17:30
            </td>
            <td>
              18:00
            </td>
          </tr>
          <tr>
            <td>
              <a href="#">Lektion 3659</a>
            </td>
            <td>
              <a href="#">XXXX</a>
            </td>
            <td>
              13/11 2014
            </td>
            <td>
              21:00
            </td>
            <td>
              22:00
            </td>
          </tr>
          <tr>
            <td>
              <a href="#">Lektion 3852</a>
            </td>
            <td>
              <a href="#">Stram op</a>
            </td>
            <td>
              14/11 2014
            </td>
            <td>
              07:00
            </td>
            <td>
              08:00
            </td>
          </tr>
          <tr>
            <td>
              <a href="#">Lektion 4016</a>
            </td>
            <td>
              <a href="#">Zumba</a>
            </td>
            <td>
              14/11 2014
            </td>
            <td>
              16:30
            </td>
            <td>
              17:30
            </td>
          </tr>
          <tr>
            <td>
              <a href="#">Lektion 4063</a>
            </td>
            <td>
              <a href="#">Quick styrke</a>
            </td>
            <td>
              14/11 2014
            </td>
            <td>
              17:30
            </td>
            <td>
              18:00
            </td>
          </tr>
          <tr>
            <td>
              <a href="#">Lektion 3659</a>
            </td>
            <td>
              <a href="#">XXXX</a>
            </td>
            <td>
              14/11 2014
            </td>
            <td>
              21:00
            </td>
            <td>
              22:00
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
