  <div class="row">
    <div class="small-4 columns">
      <label for="name">Name</label>
    </div>
    <div class="small-8 columns">
      <input id="name" name="name" type="text" value="{{.form.Name}}" placeholder="Anders Andersen" />
    </div>
    <div class="small-12 columns description">
      The real name of the user.
    </div>
  </div>
  <div class="row">
    <div class="small-4 columns">
      <label for="email">Email</label>
    </div>
    <div class="small-8 columns">
      <input id="email" name="email" type="text" value="{{.form.Email}}" placeholder="min@e-mail.dk" />
    </div>
    <div class="small-12 columns description">
      The email of the user which will be used for sending email and to log in.
    </div>
  </div>
  <div class="row">
    <div class="small-4 columns">
      <label for="password">Password</label>
    </div>
    <div class="small-8 columns">
      <input type="password" style="display:none" />
      <input id="password" name="password" type="password" placeholder="" />
    </div>
    <div class="small-12 columns description">
      The password which the user will have to use to identify himself/herself.
    </div>
  </div>
  <div class="row">
    <div class="small-4 columns">
      <label for="mobile">Mobile phone</label>
    </div>
    <div class="small-8 columns">
      <input id="mobile" name="mobile" type="text" value="{{.form.Mobile}}" placeholder="+45 11223344" />
    </div>
    <div class="small-12 columns description">
      The mobile phonenumber of the user which will be used to send reminders and more.
    </div>
  </div>
  <div class="row">
    <div class="small-4 columns">
      <label for="language">Language</label>
    </div>
    <div class="small-8 columns">
      <select id="language" name="language">
        <option value="da" {{if eq .form.Language "da"}}selected{{end}}>Dansk</option>
        <option value="en" {{if eq .form.Language "en"}}selected{{end}}>English</option>
      </select>
    </div>
    <div class="small-12 columns description">
      The language you would prefer to view the site in.
    </div>
  </div>
  {{if and (.self.IsAdmin) (ne .page "profile")}}
  <div class="row">
    <div class="small-4 columns">
      <label for="status">Status</label>
    </div>
    <div class="small-8 columns">
      <select id="status" name="status">
        {{$status := .form.Status}}
        {{range statusList}}
        <option value="{{.Status}}" {{if eq $status .Status}}selected{{end}}>{{.Title}}</option>
        {{end}}
      </select>
    </div>
    <div class="small-12 columns description">
      The type of the user controls which things in the system the user has access to.
    </div>
  </div>
  {{end}}
