{{define "calendar_status_description.tmpl"}}
  <div class="description">
    <p>
      {{"To view more information about an event - click on it"|T}}.<br/>
      <span class="under">{{"Not enough participants yet"|T}}.</span>
      <span class="fits">{{"Still has some place"|T}}.</span>
      <span class="over">{{"Too many participants, waiting list"|T}}.</span>
      <span class="skip">{{"Event has been canceled"|T}}.</span>
    </p>
  </div>
{{end}}
