  <div class="row">
    <div class="columns">
      <h4>{{"Calendar"|T}}</h4>

      {{template "calendar_filter_form.tmpl" . }}
      <ul class="calendar monthly">
        <li class="title">
          <div class="left">
            <a href="?date={{printDate .prev}}{{if ne .team_id 0}}&team_id={{.team_id}}{{end}}"><i><small>{{"Prev"|T}}</small></i></a>
          </div>
          <a href="#" class="date changer" data-date-start-view="1">{{.date.Format "January"|T}}</a>
          <div class="right">
            <a href="?date={{printDate .next}}{{if ne .team_id 0}}&team_id={{.team_id}}{{end}}"><i><small>{{"Next"|T}}</small></i></a>
          </div>
        </li>
        <li class="day-header">
          <div class="small-1 medium-1 large-1 day">
            <span class="show-for-medium-up">{{"Monday"|T}}</span>
            <span class="show-for-small">{{"Monday"|T|truncate 3}}</span>
          </div>
          <div class="small-1 medium-1 large-1 day">
            <span class="show-for-medium-up">{{"Tuesday"|T}}</span>
            <span class="show-for-small">{{"Tuesday"|T|truncate 3}}</span>
          </div>
          <div class="small-1 medium-1 large-1 day">
            <span class="show-for-medium-up">{{"Wednesday"|T}}</span>
            <span class="show-for-small">{{"Wednesday"|T|truncate 3}}</span>
          </div>
          <div class="small-1 medium-1 large-1 day">
            <span class="show-for-medium-up">{{"Thursday"|T}}</span>
            <span class="show-for-small">{{"Thursday"|T|truncate 3}}</span>
          </div>
          <div class="small-1 medium-1 large-1 day">
            <span class="show-for-medium-up">{{"Friday"|T}}</span>
            <span class="show-for-small">{{"Friday"|T|truncate 3}}</span>
          </div>
          <div class="small-1 medium-1 large-1 day">
            <span class="show-for-medium-up">{{"Saturday"|T}}</span>
            <span class="show-for-small">{{"Saturday"|T|truncate 3}}</span>
          </div>
          <div class="small-1 medium-1 large-1 day">
            <span class="show-for-medium-up">{{"Sunday"|T}}</span>
            <span class="show-for-small">{{"Sunday"|T|truncate 3}}</span>
          </div>
        </li>
        {{$date := .date}}
        {{$prev := .prev}}
        {{$next := .next}}
        {{$today := .today}}
        {{$teams := .teams}}
        {{$counts := .counts}}
        {{$assigned := .assigned}}
        {{range $w, $week := .events}}
        <li class="week">
          {{range $d, $list := $week}}
          {{$date := calcMonthDate $date $w $d}}
          <div class="small-1 medium-1 large-1 day {{if eq $date.String $today.String}}today{{end}} {{if eq $date.Month $prev.Month}}previous-month{{end}} {{if eq $date.Month $next.Month}}next-month{{end}}">
            <div class="num">{{$date.Day}}</div>
            <div class="inner">
              {{range $list}}
                {{$team := index $teams .TeamId}}
                {{$part := index $assigned .Id}}
                {{$count := index $counts .Id}}
                {{$class := eventClass $team $count}}
              <a href="/events/view/{{.Id}}" title="{{printTime .StartAt}} &ndash; {{printTime .FinishAt}}" class="{{$class}}">
                {{$team.Name}}
                {{if eq $part 1}}<img src="/img/star-gold-12.png" />{{end}}
                {{if lt $part 0}}<img src="/img/star-gray-12.png" />{{end}}
              </a>
              {{end}}
            </div>
          </div>
          {{end}}
        </li>
        {{end}}
      </ul>
      <div class="description">
        <p>
          {{"To view more information about an event - click on it"|T}}.
          <b>{{"Color coding"|T}}:</b><br/>
          <span class="under">{{"Not enough participants yet"|T}}.</span>
          <span class="fits">{{"Still has some place"|T}}.</span>
          <span class="over">{{"Too many participants, waiting list"|T}}.</span>
        </p>
      </div>
    </div>
  </div>
