  <div class="row">
    <div class="columns">
      <h4>{{"Calendar"|T}}</h4>

      {{template "calendar_filter_form.tmpl" . }}
      <ul class="calendar weekly">
        <li class="title">
          <div class="left">
            <a href="?date={{printDate .prev}}{{if ne .team_id 0}}&team_id={{.team_id}}{{end}}"><i><small>{{"Prev"|T}}</small></i></a>
          </div>
          <a href="#" class="date changer">{{localDate .date .lang}}</a>
          <div class="right">
            <a href="?date={{printDate .next}}{{if ne .team_id 0}}&team_id={{.team_id}}{{end}}"><i><small>{{"Next"|T}}</small></i></a>
          </div>
        </li>
        <li class="day-header">
          <div class="small-1 medium-1 large-1 day">
            <span class="show-for-medium-up">{{"Monday"|T}}</span>
            <span class="show-for-small">{{"Monday"|T|truncate 3}}</span>
          </div>
          <div class="small-1 medium-1 large-1 day">
            <span class="show-for-medium-up">{{"Tuesday"|T}}</span>
            <span class="show-for-small">{{"Tuesday"|T|truncate 3}}</span>
          </div>
          <div class="small-1 medium-1 large-1 day">
            <span class="show-for-medium-up">{{"Wednesday"|T}}</span>
            <span class="show-for-small">{{"Wednesday"|T|truncate 3}}</span>
          </div>
          <div class="small-1 medium-1 large-1 day">
            <span class="show-for-medium-up">{{"Thursday"|T}}</span>
            <span class="show-for-small">{{"Thursday"|T|truncate 3}}</span>
          </div>
          <div class="small-1 medium-1 large-1 day">
            <span class="show-for-medium-up">{{"Friday"|T}}</span>
            <span class="show-for-small">{{"Friday"|T|truncate 3}}</span>
          </div>
          <div class="small-1 medium-1 large-1 day">
            <span class="show-for-medium-up">{{"Saturday"|T}}</span>
            <span class="show-for-small">{{"Saturday"|T|truncate 3}}</span>
          </div>
          <div class="small-1 medium-1 large-1 day">
            <span class="show-for-medium-up">{{"Sunday"|T}}</span>
            <span class="show-for-small">{{"Sunday"|T|truncate 3}}</span>
          </div>
        </li>
        <li class="day-header">
          {{$date := .date}}
          {{$lang := .lang}}
          {{range $d, $list := (index .events 0)}}
          {{$date := calcMonthDate $date 0 $d}}
          <div class="small-1 medium-1 large-1 day">
            <small>{{$date.Day}} {{$date.Format "Jan"|T}}</small>
          </div>
          {{end}}
        </li>
        {{$date := .date}}
        {{$today := .today}}
        {{$teams := .teams}}
        {{$counts := .counts}}
        {{$assigned := .assigned}}
        {{range $w, $week := .events}}
        <li class="week">
          {{range $d, $list := $week}}
          {{$date := calcMonthDate $date 0 $d}}
          <div class="small-1 medium-1 large-1 day {{if eq $date.String $today.String}}today{{end}}">
            {{range $list}}
              {{$team := index $teams .TeamId}}
              {{$part := index $assigned .Id}}
              {{$count := index $counts .Id}}
              {{$class := eventClass $team $count .Status}}
            <div class="inner">
              <a href="/events/view/{{.Id}}" class="{{$class}}">
                {{if eq $part 1}}<img src="/img/star-gold-16.png" />{{end}}
                {{if lt $part 0}}<img src="/img/star-gray-16.png" />{{end}}
                <b>{{$team.Name|taketill " -"}}</b>
                <br/>
                {{$team.UserName}}<br/>
                {{printTime .StartAt}} &ndash; {{printTime .FinishAt}}
              </a>
            </div>
            {{end}}
          </div>
          {{end}}
        </li>
        {{end}}
      </ul>
      {{template "calendar_status_description.tmpl" . }}
    </div>
  </div>
