  <div class="row">
    <div class="columns">
      <h4>{{"Calendar"|T}}</h4>

      <ul class="calendar">
        <li class="title">
          <div class="left">
            <a href="?date={{.prev.Format "2006-01-02"}}"><i><small>{{"Prev"|T}}</small></i></a>
          </div>
          <span class="date changer">{{.date.Format (dateFormat .lang)}}</span>
          <div class="right">
            <a href="?date={{.next.Format "2006-01-02"}}"><i><small>{{"Next"|T}}</small></i></a>
          </div>
        </li>
        <li class="day-header">
          <div class="small-1 medium-1 large-1 day">
            <span class="show-for-medium-up">{{"Monday"|T}}</span>
            <span class="show-for-small">{{"Monday"|T|truncate 3}}</span>
          </div>
          <div class="small-1 medium-1 large-1 day">
            <span class="show-for-medium-up">{{"Tuesday"|T}}</span>
            <span class="show-for-small">{{"Tuesday"|T|truncate 3}}</span>
          </div>
          <div class="small-1 medium-1 large-1 day">
            <span class="show-for-medium-up">{{"Wednesday"|T}}</span>
            <span class="show-for-small">{{"Wednesday"|T|truncate 3}}</span>
          </div>
          <div class="small-1 medium-1 large-1 day">
            <span class="show-for-medium-up">{{"Thursday"|T}}</span>
            <span class="show-for-small">{{"Thursday"|T|truncate 3}}</span>
          </div>
          <div class="small-1 medium-1 large-1 day">
            <span class="show-for-medium-up">{{"Friday"|T}}</span>
            <span class="show-for-small">{{"Friday"|T|truncate 3}}</span>
          </div>
          <div class="small-1 medium-1 large-1 day">
            <span class="show-for-medium-up">{{"Saturday"|T}}</span>
            <span class="show-for-small">{{"Saturday"|T|truncate 3}}</span>
          </div>
          <div class="small-1 medium-1 large-1 day">
            <span class="show-for-medium-up">{{"Sunday"|T}}</span>
            <span class="show-for-small">{{"Sunday"|T|truncate 3}}</span>
          </div>
        </li>
        <li class="day-header">
          {{$date := .date}}
          {{$lang := .lang}}
          {{range $d, $list := .events}}
          {{$date := calcMonthDate $date 0 $d}}
          <div class="small-1 medium-1 large-1 day">
            <small>{{$date.Day}}</small>
          </div>
          {{end}}
        </li>
        <li class="week">
          {{$teams := .teams}}
          {{range $d, $list := .events}}
          <div class="small-1 medium-1 large-1 day {{if false}}today{{end}}">
            {{range $list}}
            <div class="inner">
              <a href="/events/view/{{.Id}}">
                {{$team := (index $teams .TeamId)}}
                <b>{{$team.Name}}</b><br/>
                {{$team.UserName}}<br/>
                {{.StartAt.Format timeFormat}} &ndash; {{.FinishAt.Format timeFormat}}
              </a>
            </div>
            {{end}}
          </div>
          {{end}}
        </li>
      </ul>
      <div class="description">
        {{"To view more information about an event - click on it"|T}}
      </div>
    </div>
  </div>
