  <div class="row">
    <div class="columns">
      <h4>{{"Calendar"|T}}</h4>

      <ul class="calendar">
        <li class="title">
          <div class="left"><a href="?date={{.prev.Format "2006-01-02"}}">&lt;&lt;&lt;</a></div>
          {{.date.Format (dateFormat .lang)}}
          <div class="right"><a href="?date={{.next.Format "2006-01-02"}}">&gt;&gt;&gt;</a></div>
        </li>
        <li class="day-header">
          <div class="small-1 medium-1 large-1 day">
              <span class="show-for-medium-up">Mandag</span>
              <span class="show-for-small">Man</span>
          </div>
          <div class="small-1 medium-1 large-1 day">
              <span class="show-for-medium-up">Tirsdag</span>
              <span class="show-for-small">Tir</span>
          </div>
          <div class="small-1 medium-1 large-1 day">
              <span class="show-for-medium-up">Onsdag</span>
              <span class="show-for-small">Ons</span>
          </div>
          <div class="small-1 medium-1 large-1 day">
              <span class="show-for-large-up">Torsdag</span>
              <span class="show-for-medium-down">Tor</span>
          </div>
          <div class="small-1 medium-1 large-1 day">
              <span class="show-for-medium-up">Fredag</span>
              <span class="show-for-small">Fre</span>
          </div>
          <div class="small-1 medium-1 large-1 day">
              <span class="show-for-medium-up">Lørdag</span>
              <span class="show-for-small">Lør</span>
          </div>
          <div class="small-1 medium-1 large-1 day">
              <span class="show-for-medium-up">Søndag</span>
              <span class="show-for-small">Søn</span>
          </div>
        </li>
        <li class="week">
          {{$teams := .teams}}
          {{range $i, $list := .events}}
          <div class="small-1 medium-1 large-1 day {{if false}}today{{end}}">
            {{range $list}}
            <div class="inner">
              {{$team := (index $teams .TeamId)}}
              <b>{{$team.Name}}</b><br/>
              {{$team.UserName}}<br/>
              {{.StartAt.Format timeFormat}} &ndash; {{.FinishAt.Format timeFormat}}
            </div>
            {{end}}
          </div>
          {{end}}
        </li>
      </ul>
      <div class="description">
        For at få vist mere information om en dag - klik på den.
      </div>
    </div>
  </div>
