  <div class="row">
    <div class="large-8 columns">
      <h4>{{"Classes"|T}}</h4>

      <table class="list">
        <thead>
          <tr>
            <td>{{"Name"|T}}</td>
            {{if .self.IsAdmin}}
            <td>{{"Actions"|T}}</td>
            {{end}}
          </tr>
        </thead>
        <tbody>
          {{range .list}}
          <tr>
            <td>
              <a href="/classes/show/{{.Id}}">{{.Name}}</a>
            </td>
            {{if .self.IsAdmin}}
            <td>
              <a href="/classes/update/{{.Id}}">{{"Edit"|T}}</a>
            </td>
            {{end}}
          </tr>
          {{end}}
        </tbody>
      </table>
      {{if .self.IsAdmin}}
      <p>
        <a href="/classes/create" class="button tiny radius">{{"Create class"|T}}</a>
      </p>
      {{end}}
    </div>
  </div>
