  <div class="row">
    <div class="large-6 medium-8 columns">
      <h4>{{"Event"|T}}</h4>

      <div class="panel">
        <small>
          <p>TO BE IMPLEMENTED</p>
        </small>
      </div>
    </div>
  </div>
