  <div class="row">
    <div class="large-12 columns">
      <table class="list">
        <thead>
          <tr>
            <td>{{"User"|T}}</td>
            <td>{{"Status"|T}}</td>
            {{if .self.IsAdmin}}
            <td>{{"Actions"|T}}</td>
            {{end}}
          </tr>
        </thead>
        <tbody>
          {{$is_admin := .self.IsAdmin}}
          {{$id := .id}}
          {{range .list}}
          <tr>
            <td>
              <a href="/users/view/{{.UserId}}">{{userName .UserId}}</a>
            </td>
            <td>
              {{.Status}}
            </td>
            {{if $is_admin}}
            <td>
              {{if eq .Status 1}}
              <a href="#" data-action="/assignments/create/{{$id}}?user_id={{.UserId}}">{{"Signup"|T}}</a>
              {{else}}
              <a href="#" data-action="/assignments/cancel/{{$id}}?user_id={{.UserId}}">{{"Cancel"|T}}</a>
              {{end}}
              <a href="#" data-action="/assignments/delete/{{$id}}?user_id={{.UserId}}">{{"Delete"|T}}</a>
            </td>
            {{end}}
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
  </div>
