{{define "events_view.tmpl"}}
  <form method="POST">
    <div class="row">
      <div class="large-6 medium-8 columns">
        <h4>{{"Event"|T}} {{.id}}{{if eq .form.Status -2}} &ndash; {{"Canceled"|T}}{{end}}</h4>
  
        <div class="panel">
          <small>
            {{if eq .form.Status 0}}
              {{if .signed_up}}
                {{if eq .signed_up.Status 0}}
                <input type="button" data-action="/assignments/cancel/{{.id}}" class="button tiny radius right" value="{{"Cancel"|T}}" />
                {{end}}
              {{else}}
              <input type="button" data-action="/assignments/create/{{.id}}" class="button tiny radius right" value="{{"Signup"|T}}" />
              {{end}}
            {{end}}
            <b>{{"Team"|T}}</b>: <a href="/teams/view/{{.form.TeamId}}">{{teamName .form.TeamId}}</a><br/>
            <b>{{"Date"|T}}</b>: {{.form.StartAt.Format (dateFormat .lang)}}<br/>
            <b>{{"Time"|T}}</b>: {{.form.StartAt.Format timeFormat}} &ndash; {{.form.FinishAt.Format timeFormat}}<br/>
            <b>{{"Participants"|T}}</b>: {{len .list}}<br/>
          </small>
        </div>
      </div>
    </div>
    {{template "events_assignments_list.tmpl" .}}
  </form>
{{end}}
