{{define "events_view.tmpl"}}
  <form method="POST">
    <div class="row">
      <div class="large-6 medium-8 columns">
        <h4>{{"Event"|T}} {{.id}}{{if eq .form.Status -2}} &ndash; {{"Canceled"|T}}{{end}}</h4>
  
        <div class="panel">
          <small>
            {{if eq .form.Status 0}}
              {{if .signed_up}}
                {{if eq .signed_up.Status 0}}
                <input type="button" data-action="/assignments/cancel/{{.id}}" class="button tiny radius right" value="{{"Cancel"|T}}" />
                {{end}}
              {{else}}
              <input type="button" data-action="/assignments/create/{{.id}}" class="button tiny radius right" value="{{"Signup"|T}}" />
              {{end}}
            {{end}}
            {{if .self.IsAdmin}}
              <a href="/events/update/{{.id}}" class="button tiny radius right right-1">{{"Edit"|T}}</a>
            {{end}}
            <b>{{"Team"|T}}</b>: <a href="/teams/view/{{.form.TeamId}}">{{teamName .form.TeamId}}</a><br/>
            <b>{{"Date"|T}}</b>: {{localDate .form.StartAt .lang}}<br/>
            <b>{{"Time"|T}}</b>: {{printTime .form.StartAt}} &ndash; {{printTime .form.FinishAt}}<br/>
            <b>{{"Participants"|T}}</b>: {{len .list}}<br/>
          </small>
        </div>
      </div>
    </div>
    {{template "events_assignments_list.tmpl" .}}
  </form>
{{end}}
{{define "events_update.tmpl"}}
  <div class="row">
    <div class="large-6 medium-8 columns">
      <h4>{{"Edit event"|T}}</h4>

      <div class="panel">
        <form action="/events/update/{{.id}}" method="POST">
          {{template "events_form.tmpl" . }}
          <div class="row end">
            <div class="columns">
              <input type="submit" class="button tiny radius" value="{{"Save"|T}}" />
              <input type="button" class="button tiny radius" value="{{"Delete"|T}}" data-action="/events/delete/{{.id}}" data-confirm="{{"Are you sure?"|T}}" />
              &nbsp;&nbsp;
              <a href="/events/view/{{.id}}" class="info button tiny radius right">{{"Cancel"|T}}</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{{end}}
