{{define "events_view.tmpl"}}
  <div class="row">
    <div class="columns">
      <h4>
        <a href="/teams/view/{{.form.TeamId}}">{{.team.Name}}</a>
        {{localDate .form.StartAt .lang}}
        {{if eq .form.Status -2}} &ndash; {{"Canceled"|T}}{{end}}
      </h4>
    </div>
  </div>
  <div class="row end" data-equalizer>
    <div class="large-6 medium-6 columns">
      <div class="panel" data-equalizer-watch>
        <form method="POST">
          {{if eq .form.Status 0}}
            {{$filled_up := and (gt .team.UsersMax 0) (ge (len .list) .team.UsersMax)}}
            {{if not .signed_up}}
              {{$confirm := $filled_up}}
              {{$msg := "This event is filled. Would like to be on the waiting list? If somebody unsubscribes you will get a notification"}}
            <input type="button" data-action="/assignments/create/{{.id}}" class="button tiny radius right" {{if $confirm}}data-confirm="{{$msg|T}}"{{end}} value="{{"Signup"|T}}" />
            {{else}}
              {{$confirm := and $filled_up (eq .signed_up.Status 1)}}
              {{$msg := "Do you really want to cancel? Your space will be taken by another user"}}
            <input type="button" data-action="/assignments/delete/{{.id}}" class="button tiny radius right" {{if $confirm}}data-confirm="{{$msg|T}}"{{end}} value="{{"Cancel subscription"|T}}" />
              {{if eq .signed_up.Status -1}}
              <a href="/assignments/confirm/{{.id}}" class="button tiny radius right right-1">{{"Confirm subscription"|T}}</a>
              {{end}}
            {{end}}
          {{end}}
          <small>
            <b>{{"Time"|T}}</b>: {{printTime .form.StartAt}} &ndash; {{printTime .form.FinishAt}}<br/>
            <b>{{"Instructor"|T}}</b>: {{userName .team.InstructorId}}<br/>
            {{if gt .team.UsersMin 0}}
            <b>{{"Min participants"|T}}</b>: {{.team.UsersMin}}<br/>
            {{end}}
            {{if gt .team.UsersMax 0}}
            <b>{{"Max participants"|T}}</b>: {{.team.UsersMax}}<br/>
            {{end}}
            <b>{{"Participants"|T}}</b>: {{len .list}}
          </small>
        </form>
      </div>
    </div>
    {{if .self.IsAdmin}}
    <div class="large-6 medium-6 columns">
      <div class="panel" data-equalizer-watch>
        <form method="POST" action="/assignments/create/{{.id}}">
          {{if eq .form.Status 0}}
          <div class="row">
            <div class="small-8 columns">
              <select name="user_id" id="user_id" class="select2">
                <option value="0">{{"Choose user"|T}}</option>
                {{range (listRecords "users_on_active")}}
                <option value="{{.Id}}">{{.Text}}</option>
                {{end}} 
              </select>
            </div>
            <div class="small-4 columns">
              <input type="submit" class="button tiny radius right" value="{{"Signup user"|T}}" />
            </div>
          </div>
          {{end}}
          <div class="row end">
            <div class="columns">
              <a href="/events/update/{{.id}}" class="button tiny radius right">{{"Edit event"|T}}</a>
              {{if eq .form.Status 0}}
                {{$confirm := gt (len .list) 0}}
                {{$msg := "Are you sure? Event subscriptions will be deleted"}}
                <input type="button" data-action="/events/cancel/{{.id}}" class="button tiny radius right right-1" {{if $confirm}}data-confirm="{{$msg|T}}"{{end}} value="{{"Cancel event"|T}}" />
                {{if gt (len .list) 0}}
                  <a href="/events/notify/{{.id}}" class="button tiny radius right right-1">{{"Send email"|T}}</a>
                {{end}}
              {{end}}
            </div>
          </div>
        </form>
      </div>
    </div>
    {{else if and (eq .self.Status 1) (eq .team.InstructorId .self.Id) (eq .form.Status 0)}}
    <div class="large-6 medium-6 columns">
      <div class="panel" data-equalizer-watch>
        <form method="POST">
          <div class="row end">
            <div class="columns">
              {{$confirm := gt (len .list) 0}}
              {{$msg := "Are you sure? Event subscriptions will be deleted"}}
              <input type="button" data-action="/events/cancel/{{.id}}" class="button tiny radius right right-1" {{if $confirm}}data-confirm="{{$msg|T}}"{{end}} value="{{"Cancel event"|T}}" />
              {{if gt (len .list) 0}}
                <a href="/events/notify/{{.id}}" class="button tiny radius right right-1">{{"Send email"|T}}</a>
              {{end}}
            </div>
          </div>
        </form>
      </div>
    </div>
    {{end}}
  </div>
  {{if gt (len .list) 0}}
    {{template "events_assignments_list.tmpl" . }}
  {{end}}
{{end}}

{{define "events_update.tmpl"}}
  <div class="row">
    <div class="large-6 medium-8 columns">
      <h4>{{"Edit event"|T}}</h4>

      <div class="panel">
        <form action="/events/update/{{.id}}" method="POST">
          {{template "events_form.tmpl" . }}
          <div class="row end">
            <div class="columns">
              <input type="submit" class="button tiny radius" value="{{"Save"|T}}" />
              <input type="button" class="button tiny radius" value="{{"Delete"|T}}" data-action="/events/delete/{{.id}}" data-confirm="{{"Are you sure?"|T}}" />
              &nbsp;&nbsp;
              <a href="/events/view/{{.id}}" class="info button tiny radius right">{{"Back"|T}}</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{{end}}

{{define "events_notify.tmpl"}}
  <div class="row">
    <div class="columns">
      <h4>{{"Send email to participants"|T}}</h4>
    </div>
  </div>
  <div class="row end" data-equalizer>
    <div class="large-6 medium-8 columns">
      <div class="panel" data-equalizer-watch>
        <form action="/events/notify/{{.id}}" method="POST">
          <div class="row">
            <div class="small-4 columns">
              <label for="subject">{{"Subject"|T}}</label>
            </div>
            <div class="small-8 columns">
              <input id="subject" name="subject" type="text" value="" />
            </div>
            <div class="small-12 columns description">
              {{"The subject of an email"|T}}
            </div>
          </div>
          <div class="row">
            <div class="small-4 columns">
              <label for="message">{{"Message"|T}}</label>
            </div>
            <div class="small-8 columns">
              <textarea id="message" name="message" rows="5"></textarea>
            </div>
          </div>
          <div class="row end">
            <div class="columns">
              <input type="submit" class="button tiny radius" value="{{"Send"|T}}" />
              &nbsp;&nbsp;
              <a href="/events/view/{{.id}}" class="info button tiny radius right">{{"Back"|T}}</a>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="large-6 medium-6 columns">
      <div class="panel" data-equalizer-watch>
        <form>
          <h5>{{.team.Name}} {{localDate .form.StartAt .lang}}</h5>
          <p>
            <small>
              <b>{{"Time"|T}}</b>: {{printTime .form.StartAt}} &ndash; {{printTime .form.FinishAt}}<br/>
              <b>{{"Instructor"|T}}</b>: {{userName .team.InstructorId}}<br/>
              {{if gt .team.UsersMin 0}}
              <b>{{"Min participants"|T}}</b>: {{.team.UsersMin}}<br/>
              {{end}}
              {{if gt .team.UsersMax 0}}
              <b>{{"Max participants"|T}}</b>: {{.team.UsersMax}}<br/>
              {{end}}
            </small>
          </p>
        </form>
      </div>
    </div>
  </div>
{{end}}
