  <div class="row">
    <div class="small-4 columns">
      <label for="name">{{"Name"|T}}</label>
    </div>
    <div class="small-8 columns">
      <input id="name" name="name" type="text" value="{{.form.Name}}" placeholder="{{"John Doe"|T}}" />
    </div>
    <div class="small-12 columns description">
      {{"The real name of the user"|T}}
    </div>
  </div>
  <div class="row">
    <div class="small-4 columns">
      <label for="email">{{"Email"|T}}</label>
    </div>
    <div class="small-8 columns">
      <input id="email" name="email" type="text" value="{{.form.Email}}" placeholder="{{"my@email.com"|T}}" />
    </div>
    <div class="small-12 columns description">
      {{T "%s information will be sent to this email" conf.ServerName}}
    </div>
  </div>
  <div class="row">
    <div class="small-4 columns">
      <label for="password">{{"Password"|T}}</label>
    </div>
    <div class="small-8 columns">
      <input type="password" style="display:none" />
      <input id="password" name="password" type="password" placeholder="" />
    </div>
    <div class="small-12 columns description">
      {{T "The password should be used when logging in to %s" conf.ServerName}}
    </div>
  </div>
  <div class="row">
    <div class="small-4 columns">
      <label for="mobile">{{"Mobile phone"|T}}</label>
    </div>
    <div class="small-8 columns">
      <input id="mobile" name="mobile" type="text" value="{{.form.Mobile}}" placeholder="{{"12345678"|T}}" />
    </div>
    <div class="small-12 columns description">
      {{"The mobile phone number of the user which will be used to send reminders, etc"|T}}
    </div>
  </div>
  <div class="row">
    <div class="small-4 columns">
      <label for="language">{{"Language"|T}}</label>
    </div>
    <div class="small-8 columns">
      <select id="language" name="language">
        <option value="da" {{if eq .form.Language "da"}}selected{{end}}>Dansk</option>
        <option value="en" {{if eq .form.Language "en"}}selected{{end}}>English</option>
      </select>
    </div>
  </div>
  {{if and (.self.IsAdmin) (ne .page "profile")}}
  <div class="row">
    <div class="small-4 columns">
      <label for="status">{{"User rights"|T}}</label>
    </div>
    <div class="small-8 columns">
      <select id="status" name="status">
        {{$status := .form.Status}}
        {{range statusList "user"}}
        <option value="{{.Status}}" {{if eq $status .Status}}selected{{end}}>{{.Title|T}}</option>
        {{end}}
      </select>
    </div>
  </div>
  {{end}}
