{{define "teams_view.tmpl"}}
  <div class="row">
    <div class="large-6 medium-8 columns">
      <h4>{{.form.Name}}</h4>

      <div class="panel">
        <small>
          {{if .self.IsAdmin}}
          <a href="/teams/update/{{.id}}" class="button tiny radius right">{{"Edit"|T}}</a>
          <a href="/teams/events/{{.id}}" class="button tiny radius right right-1">{{"Events"|T}}</a>
          {{end}}
          <b>{{"Instructor"|T}}</b>: {{userName .form.InstructorId}}
          {{if gt .form.UsersMin 0}}
          <br/><b>{{"Min participants"|T}}</b>: {{.form.UsersMin}}
          {{end}}
          {{if gt .form.UsersMax 0}}
          <br/><b>{{"Max participants"|T}}</b>: {{.form.UsersMax}}
          {{end}}
        </small>
      </div>
    </div>
  </div>
  {{template "teams_events_list.tmpl" .}}
{{end}}
{{define "teams_update.tmpl"}}
  <div class="row">
    <div class="large-6 medium-8 columns">
      <h4>{{"Edit team"|T}}</h4>

      <div class="panel">
        <form action="/teams/update/{{.id}}" method="POST">
          {{template "teams_form.tmpl" . }}
          <div class="row end">
            <div class="columns">
              <input type="submit" class="button tiny radius" value="{{"Save"|T}}" />
              <input type="button" class="button tiny radius" value="{{"Delete"|T}}" data-action="/teams/delete/{{.id}}" data-confirm="{{"Are you sure?"|T}}" />
              &nbsp;&nbsp;
              <a href="/teams/view/{{.id}}" class="button tiny radius">{{"View"|T}}</a>
              <a href="/teams/events/{{.id}}" class="button tiny radius">{{"Events"|T}}</a>
              <a href="/teams" class="info button tiny radius right">{{"Back"|T}}</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{{end}}
{{define "teams_create.tmpl"}}
  <div class="row">
    <div class="large-6 medium-8 columns">
      <h4>{{"Create team"|T}}</h4>

      <div class="panel">
        <form action="/teams/create" method="POST">
          {{template "teams_form.tmpl" . }}
          <div class="row end">
            <div class="columns">
              <input type="submit" class="button tiny radius" value="{{"Create"|T}}" />
              <a href="/teams" class="info button tiny radius right">{{"Back"|T}}</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{{end}}
{{define "teams_events.tmpl"}}
  <div class="row">
    <div class="large-6 medium-8 columns">
      <h4>{{.team.Name}}: {{"Events"|T}}</h4>

      <div class="panel">
        <form action="/events/create/{{.id}}" method="POST">
          {{template "teams_events_form.tmpl" .}}
          <div class="row end">
            <div class="columns">
              <input type="submit" class="button tiny radius" value="{{"Add events"|T}}" />
              <input type="button" class="button tiny radius" value="{{"Cancel events"|T}}" data-action="/events/cancel/{{.id}}" />
              <input type="button" class="button tiny radius" value="{{"Remove events"|T}}" data-action="/events/remove/{{.id}}" />
              <a href="/teams" class="info button tiny radius right">{{"Back"|T}}</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  {{template "teams_events_list.tmpl" .}}
{{end}}
