{{define "teams_update.tmpl"}}
  <div class="row">
    <div class="large-6 medium-8 columns">
      <h4>{{"Edit team"|T}}</h4>

      <div class="panel">
        <form action="/teams/update/{{.id}}" method="POST">
          {{template "team_form.tmpl" . }}
          <div class="row end">
            <div class="columns">
              <input type="submit" class="button tiny radius" value="{{"Save"|T}}" />
              <input type="button" class="button tiny radius delete" value="{{"Delete"|T}}" data-action="/teams/delete/{{.id}}" data-confirm="{{"Are you sure?"|T}}" />
              <a href="/teams" class="info button tiny radius right">{{"Cancel"|T}}</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{{end}}
{{define "teams_create.tmpl"}}
  <div class="row">
    <div class="large-6 medium-8 columns">
      <h4>{{"Create team"|T}}</h4>

      <div class="panel">
        <form action="/teams/create" method="POST">
          {{template "team_form.tmpl" . }}
          <div class="row end">
            <div class="columns">
              <input type="submit" class="button tiny radius" value="{{"Create"|T}}" />
              <a href="/teams" class="info button tiny radius right">{{"Cancel"|T}}</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{{end}}
