  <div class="row">
    <div class="columns">
      {{$assigned := .assigned}}
      {{$counts := .counts}}
      {{$lang := .lang}}

      <table class="list">
        <thead>
          <tr>
            <td>{{"Date"|T}}</td>
            <td>{{"Weekday"|T}}</td>
            <td>{{"Time"|T}}</td>
            <td>{{"Participants"|T}}</td>
            <td>{{"My status"|T}}</td>
          </tr>
        </thead>
        <tbody>
          {{range .list}}
          <tr {{if eq .Status -2}}class="canceled"{{end}}>
            <td>
              <a href="/events/view/{{.Id}}">{{localDate .StartAt $lang}}</a>
            </td>
            <td>
              {{.StartAt.Format "Monday"|T}}
            </td>
            <td>
              {{printTime .StartAt}} &ndash; {{printTime .FinishAt}}
            </td>
            <td>
              {{index $counts .Id}}
            </td>
            <td>
              {{statusTitle "assignment" (index $assigned .Id)|T}}
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
  </div>

  <p>
    {{if .full}}
    <a href="?">{{"Show current"|T}}</a>
    {{else}}
    <a href="?date={{conf.DefaultDate}}">{{"Show all"|T}}</a>
    {{end}}
  </p>
