  <div class="row">
    <div class="large-12 columns">
      <table class="list">
        <thead>
          <tr>
            <td>{{"Event"|T}}</td>
            <td>{{"Date"|T}}</td>
            <td>{{"Weekday"|T}}</td>
            <td>{{"Start time"|T}}</td>
            <td>{{"Duration"|T}}</td>
            <td>{{"Participants"|T}}</td>
          </tr>
        </thead>
        <tbody>
          {{$lang := .lang}}
          {{range .list}}
          <tr>
            <td>
              <a href="/events/view/{{.Id}}">{{"Event"|T}} {{.Id}}</a>
            </td>
            <td>
              {{localDate .StartAt $lang}}
            </td>
            <td>
              {{.StartAt.Format "Monday"|T}}
            </td>
            <td>
              {{printTime .StartAt}}
            </td>
            <td>
              {{.Minutes}} {{"min"|T}}
            </td>
            <td>
              0
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
  </div>
