  <div class="row">
    <div class="large-8 columns">
      <h4>{{"Teams"|T}}</h4>

      <table class="list">
        <thead>
          <tr>
            <td>{{"Name"|T}}</td>
            <td>{{"Instructor"|T}}</td>
            {{if .self.IsAdmin}}
            <td>{{"Actions"|T}}</td>
            {{end}}
          </tr>
        </thead>
        <tbody>
          {{ $self := .self }}
          {{range .list}}
          <tr>
            <td>
              <a href="/teams/view/{{.Id}}">{{.Name}}</a>
            </td>
            <td>
              {{.UserName}}
            </td>
            {{if $self.IsAdmin}}
            <td>
              <a href="/teams/update/{{.Id}}">{{"Edit"|T}}</a>
              &nbsp;
              <a href="/teams/events/{{.Id}}">{{"Events"|T}}</a>
            </td>
            {{end}}
          </tr>
          {{end}}
        </tbody>
      </table>
      {{if .self.IsAdmin}}
      <p>
        <a href="/teams/create" class="button tiny radius">{{"Create team"|T}}</a>
      </p>
      {{end}}
    </div>
  </div>
