  <div class="row">
    <div class="large-12 columns">
      <table class="list">
        <thead>
          <tr>
            <td>{{"Date"|T}}</td>
            <td>{{"Weekday"|T}}</td>
            <td>{{"Time"|T}}</td>
            <td>{{"Duration"|T}}</td>
            <td>{{"Participants"|T}}</td>
          </tr>
        </thead>
        <tbody>
          {{$counts := .counts}}
          {{$lang := .lang}}
          {{range .list}}
          <tr>
            <td>
              <a href="/events/view/{{.Id}}">{{localDate .StartAt $lang}}</a>
            </td>
            <td>
              {{.StartAt.Format "Monday"|T}}
            </td>
            <td>
              {{printTime .StartAt}} &ndash; {{printTime .FinishAt}}
            </td>
            <td>
              {{.Minutes}} {{"min"|T}}
            </td>
            <td>
              {{index $counts .Id}}
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
  </div>
  <p>
    {{if .full}}
    <a href="?">{{"Show current"|T}}</a>
    {{else}}
    <a href="?date=2015-01-01">{{"Show all"|T}}</a>
    {{end}}
  </p>
