  <div class="row">
    <div class="small-4 columns">
      <label>{{"English"|T}}</label>
    </div>
    <div class="small-8 columns">
      <textarea id="key" name="key" rows="3" readonly>{{.form.Key}}</textarea>
    </div>
  </div>
  <div class="row">
    <div class="small-4 columns">
      <label for="value">{{"Dansk"|T}}</label>
    </div>
    <div class="small-8 columns">
      <textarea id="value" name="value" rows="3">{{.form.Value}}</textarea>
    </div>
  </div>
  <input type="hidden" name="lang" value="{{.form.Lang}}" />
