  <div class="row">
    <div class="small-4 columns">
      <label for="name">{{"English"|T}}</label>
    </div>
    <div class="small-8 columns">
      {{.form.Key}}
    </div>
    <div class="small-12 columns description">
      {{"The original string"|T}}
    </div>
  </div>
  <div class="row">
    <div class="small-4 columns">
      <label for="value">{{"Dansk"|T}}</label>
    </div>
    <div class="small-8 columns">
      <input id="value" name="value" type="text" value="{{.form.Value}}" />
    </div>
    <div class="small-12 columns description">
      {{"The translation"|T}}
    </div>
  </div>
