  <div class="row">
    <div class="columns">
      <h4>{{"Translations"|T}}</h4>

      <p>
        <a href="?language=da">Dansk</a> |
        <a href="?language=en">English</a>
      </p>

      <form method="POST">
        <table class="list">
          <thead>
            <tr>
              <td>{{"Translation"|T}}</td>
              <td>{{"Actions"|T}}</td>
            </tr>
          </thead>
          <tbody>
            {{range .list}}
            <tr>
              <td>
                {{.Value}}
              </td>
              <td>
                <a href="/translations/update/{{.Rowid}}">{{"Edit"|T}}</a>
              </td>
            </tr>
            {{end}}
          </tbody>
        </table>
      </form>

    </div>
  </div>
