  <div class="row">
    <div class="large-8 columns">
      <h4>{{"Users list"|T}}</h4>

      <p>
        <a href="/users">{{"Active"|T}}</a> |
        <a href="/users?status=-1">{{"Waiting"|T}}</a> |
        <a href="/users?status=-2">{{"Inactive"|T}}</a>
      </p>

      <table class="list">
        <thead>
          <tr>
            <td>{{"Name"|T}}</td>
            <td>{{"Email"|T}}</td>
            <td>{{"Status"|T}}</td>
            <td>{{"Actions"|T}}</td>
          </tr>
        </thead>
        <tbody>
          {{ $selfId := .self.Id }}
          {{range .list}}
          <tr>
            <td>
              <a href="/users/view/{{.Id}}">{{.Name}}</a>
            </td>
            <td>
              {{.Email}}
            </td>
            <td>
              {{T (statusTitle .Status)}}
            </td>
            <td>
              {{if ne .Id $selfId }}
              <a href="/users/update/{{.Id}}">{{"Edit"|T}}</a>
              {{end}}
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>

      <p>
        <a href="/users/create" class="button tiny radius">{{"Create user"|T}}</a>
      </p>
    </div>
  </div>
