{{define "profile.tmpl"}}
  <div class="row">
    <div class="large-6 medium-8 columns">
      <h4>Edit own profile</h4>

      <div class="panel">
        <form action="/profile" method="POST">
          {{template "profile_form.tmpl" . }}
          <div class="row end">
            <div class="columns">
              <input type="submit" class="button tiny radius" value="Save" />
              <a href="/" class="info button tiny radius right">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{{end}}
{{define "users_update.tmpl"}}
  <div class="row">
    <div class="large-6 medium-8 columns">
      <h4>Edit user profile</h4>

      <div class="panel">
        <form action="/users/update/{{.user}}" method="POST">
          {{template "profile_form.tmpl" . }}
          <div class="row end">
            <div class="columns">
              <input type="submit" class="button tiny radius" value="Save" />
              {{if ne .user .self.Id}}
                <input type="button" class="button tiny radius delete" value="Delete" data-action="/users/delete/{{.user}}" data-confirm="Are you sure?" />
              {{end}}
              <a href="/users" class="info button tiny radius right">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{{end}}
{{define "users_create.tmpl"}}
  <div class="row">
    <div class="large-6 medium-8 columns">
      <h4>Create new user</h4>

      <div class="panel">
        <form action="/users/create" method="POST">
          {{template "profile_form.tmpl" . }}
          <div class="row end">
            <div class="columns">
              <input type="submit" class="button tiny radius" value="Create" />
              <a href="/users" class="info button tiny radius right">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{{end}}
