{{define "signup.tmpl"}}
  <div class="row">
    <div class="large-6 medium-8 columns">
      <h4>{{"Create new user"|T}}</h4>

      <div class="panel">
        <form action="/signup" method="POST">
          {{template "signup_form.tmpl" . }}
          <div class="row end">
            <div class="columns">
              <input type="submit" class="button tiny radius" value="{{"Create"|T}}" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{{end}}
{{define "profile.tmpl"}}
  <div class="row">
    <div class="large-6 medium-8 columns">
      <h4>{{"Edit own profile"|T}}</h4>

      <div class="panel">
        <form action="/profile" method="POST">
          {{template "profile_form.tmpl" . }}
          <div class="row end">
            <div class="columns">
              <input type="submit" class="button tiny radius" value="{{"Save"|T}}" />
              <a href="/" class="info button tiny radius right">{{"Back"|T}}</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{{end}}
{{define "users_update.tmpl"}}
  <div class="row">
    <div class="large-6 medium-8 columns">
      <h4>{{"Edit user profile"|T}}</h4>

      <div class="panel">
        <form action="/users/update/{{.id}}" method="POST">
          {{template "profile_form.tmpl" . }}
          <div class="row end">
            <div class="columns">
              <input type="submit" class="button tiny radius" value="{{"Save"|T}}" />
              {{if ne .id .self.Id}}
                <input type="button" class="button tiny radius" value="{{"Delete"|T}}" data-action="/users/delete/{{.id}}" data-confirm="{{"Are you sure?"|T}}" />
              {{end}}
              <a href="/users" class="info button tiny radius right">{{"Back"|T}}</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{{end}}
{{define "users_create.tmpl"}}
  <div class="row">
    <div class="large-6 medium-8 columns">
      <h4>{{"Create new user"|T}}</h4>

      <div class="panel">
        <form action="/users/create" method="POST">
          {{template "profile_form.tmpl" . }}
          <div class="row end">
            <div class="columns">
              <input type="submit" class="button tiny radius" value="{{"Create"|T}}" />
              <a href="/users" class="info button tiny radius right">{{"Back"|T}}</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{{end}}
{{define "users_view.tmpl"}}
<form method="POST">
  <div class="row">
    <div class="large-6 medium-8 columns">
      <h4>{{userName .id}}</h4>

      {{template "users_assignments_list.tmpl" .}}
    </div>
  </div>
</form>
{{end}}
