  <div class="row">
    <div class="columns">
      <h4>Welcome {{.self.Name}}!</h4>
    </div>
  </div>
  <div class="row">
    <div class="columns">
      <p>You have logged-in to nk-fitness.dk</p>
    </div>
  </div>
